PORT=3000
JWT_SECRET="dev-secret"
DATABASE_URL="postgresql://username:password@localhost:5432/cms"
CORS_ORIGIN="http://localhost:3000,http://localhost:3001,http://localhost:3002"

# Admin + Public Frontend
NEXT_PUBLIC_API_URL="http://localhost:3000"

# Docker Postgres
POSTGRES_USER=devilyxrd
POSTGRES_PASSWORD="devilyxrdwashere123"
POSTGRES_DB=cms

# (Opsiyonel) Seed ayarları
SEED_ADMIN_EMAIL="admin@unitic.dev"
SEED_ADMIN_USERNAME="admin"
SEED_ADMIN_PASSWORD="Admin123!"
SEED_EDITOR_EMAIL="editor@unitic.dev"
SEED_EDITOR_USERNAME="editor"
SEED_EDITOR_PASSWORD="Editor123!"
